/*
	Note for Code Organization:
	> Background Color
	> Fonts
		> Family
		> Color
		> Size
		> Alignment
	> Positioning
		> Margin
		> Padding
		> Position
		> Overflow
		> Display
		> Float
		> Z Index
	> Misc
*/

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Variables */
:root {
	--bg-color: black;
	--tw-dur: 3s;
	--tw-del: 1s;
}

/* Global Styling */
body {
	background-color: var(--bg-color);
	font-family: Source Code Pro, monospace;
	color: white;
	justify-content: left;
	tab-size: 4;
	margin: 0px; /* Only applies to stuff outside the main elements */
}

a {
	text-decoration: none; /* Prevents links from having dumb link stuff */
}

main {
	margin: 24px; /* The primary margins */
}

/* Headings */

h1 {
	color: whitesmoke;
	font-size: 3em;
	margin-top: 6px;
	margin-bottom: 6px;
}

h2 {
	color: gray;
	font-size: 2em;
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Typewriter Code (adapted from Kevin Powell) */
.typewriter {
	position: relative;
	width: max-content;
}

.typewriter::before,
.typewriter::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.typewriter::before {
	background: var(--bg-color);
	animation:
		typewriting var(--tw-dur) steps(33) var(--tw-del) forwards;
}

.typewriter::after {
	width: 0.125em;
	background: green;
	animation:
		typewriting var(--tw-dur) steps(33) var(--tw-del) forwards,
		caretBlink 1s steps(2) infinite;
}

@keyframes typewriting {
	to { left: 100% }
}

@keyframes caretBlink {
	to { opacity: 0%; }
}