/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Playfair+Display&family=Roboto+Slab');

/* Variables */
:root {
	--dark-gray: #252524;
	--mint: #b0e4c9;
	--white: #f9fcfd;
}

/* Built-In Tags */
body {
	background-color: var(--dark-gray);
}

/* Basic Classes */
.large-text {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 4vmax;
	color: var(--mint);
}

.medium-text {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 2.5vmax;
	color: var(--white);
}

.small-text {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	font-size: 1.4vmax;
	color: var(--white);
}
