/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Variables */
:root {
	/* Color Palette */
	--gunmetal: #1A2D3C;
	--pb: #1F3749;
	--charcoal: #1F404F;
	--mgeg: #1F4855;
	--dsg: #2C5254;
	--feldgrau: #3C6358;
	--amazon: #467858;
	--mid-g: #558A4C;
	--max-g: #6B9745;
	--citron: #8FA441;
}

/* Global Styling */
html {
	height: 100%;
}
body {
	background-image: linear-gradient(var(--feldgrau), var(--gunmetal));
	min-height: 100%;
	font-family: Indie Flower, cursive;
	color: white;
	justify-content: left;
	tab-size: 4;
	margin: 0px; /* Only applies to stuff outside the main elements */
}

a {
	text-decoration: none; /* Prevents links from having dumb link stuff */
}

main {
	width: 100%;
	height: 100%;
	position: absolute;
}

/* Headings */

h1 {
	color: white;
	font-size: 5vw;
	margin-top: 12px;
	margin-bottom: 12px;
}

h2 {
	color: floralwhite;
	font-size: 5vw;
	margin-top: 12px;
	margin-bottom: 12px;
}

h3 {
	color: aliceblue;
	font-size: 3vw;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Horizontal Line */
hr {
	border-color: white;
	border-radius: 2em;
}

/* Margin Control Divs */

.noHorMargin {
	margin-left: 0%;
	margin-right: 0%;
}

.noVertMargin {
	margin-top: 0%;
	margin-bottom: 0%;
}

.horMargin {
	margin-left: 3% !important;
	margin-right: 3% !important;
}

.vertMargin {
	margin-top: 3%;
	margin-bottom: 3%;
}

/* Curtain Menu */
#open-curtain {
	font-size: 2em;
	position: fixed;
	top: 3%;
	right: 3%;
	z-index: 16;
}

/* Image Carousel */
#img-carousel {
	display: flex;
}

#img-carousel img {
	display: block;
}

#img-carousel::webkit-scrollbar {
	display: none;
}